/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
 @import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

:root {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;

  background-color: #B5B5B5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




